$testing-red: #f00;
$testing-green: #0f0;
$testing-blue: #00f;
$testing-white: #fff;
$testing-black: #000;

$paper-white-color: #fefefe;
$charcoal-grey-color: #4e4e4e;
$whisper-grey-color: #e5e5e5;
$ghost-white-color: #f9fafe;
$muted-color: #6c757d;
$red-damask-color: #bf7954;

$warm-sky-color: #e0e6fe;
$peachy-color: #feeae0;
