$player-x-background-color: $warm-sky-color;
$player-o-background-color: $peachy-color;
$dropdown-text-color: $charcoal-grey-color;
$auth-form-background-color: $paper-white-color;
$small-form-text: $muted-color;

@media (min-width: 768px) and (max-width: 9000px) {
  .container {
    width: 768px;
  }

  .game-board {
    width: 100vmin;
  }
}

.authentication-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.testing-border {
  border: dotted $testing-blue 1px;
}

.dropdown-toggle {
  color: $dropdown-text-color;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.initial-auth-form {
  align-items: center;
  background-color: $auth-form-background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  > .sign-in-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }

  > .sign-up-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 15;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }
}

.game-cell {
  align-items: center;
  display: flex;
  font-size: 25vmin;
  justify-content: center;
}

.game-status {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.player-area-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.player-o-status {
  background-color: $player-o-background-color;
}

.player-x-status {
  background-color: $player-x-background-color;
}

.muted {
  color: $muted-color;
}

.red {
  color: $red-damask-color;
}

.square {
  border: 0;
  width: percentage(1/3);
}

.welclome-dropdown {
  display: none;
}
