$player-x-background-color: $warm-sky-color;
$player-o-background-color: $peachy-color;
$dropdown-text-color: $charcoal-grey-color;
$auth-form-background-color: $paper-white-color;
$auth-form-background-color: $paper-white-color;
$small-form-text: $muted-color;
$small-form-error-text: $red-damask-color;
$grey-out-game-color: $charcoal-grey-color;
@media (min-width: 768px) and (max-width: 9000px) {
  .container {
    width: 768px;
  }
}
@media (orientation: landscape) {
  .game-board {
    width: 100vmin;
  }
}

.authentication-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.auth-status {
  display: none;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

body {
  user-select: none;
}

.canvas {
  box-shadow: inset 0 0 100px $testing-black;
  content: '';
}

.dropdown-toggle {
  color: $dropdown-text-color;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.muted {
  color: $small-form-text;
}

.small-error {
  color: $small-form-error-text;
}

.initial-auth-form {
  align-items: center;
  background-color: $auth-form-background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  > .sign-in-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }

  > .sign-up-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 45;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }
}

.game-cell {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.game-status {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.player-area-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.player-o {
  background-color: $player-o-background-color;
}

.player-x {
  background-color: $player-x-background-color;
}

.reset-game-button {
  display: none;
}

.grey-out-game {
  background-color: $grey-out-game-color;
  display: flex;
  height: 100%;
  left: 0;
  opacity: (1 / 3);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.start-new-game {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;

  > .start-new-game-button-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 25;

    > button {
      opacity: 1;
      z-index: 35;
    }
  }
}

.square {
  border: 0;
  width: percentage(1/3);
}

.arrow,
.tooltip,
.tooltip-inner {
  opacity: 0.9;
}

.plead-wrap {
  align-items: center;
  color: $paper-white-color;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;

  > h5 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ffdede, 0 0 80px #ffde00, 0 0 100px #ffde00, 0 0 150px #00de00;
    font-size: 5rem;
  }
}

.tvstatic {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.welclome-dropdown {
  display: none;
}
