.blue-dots {
  border: dotted blue 1px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.game-cell {
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-status {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.player-area-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.square {
  border: 0;
  width: percentage(1/3);
}
